# Copy this file to .env and fill in your real values
# Never commit .env itself to GitHub

DATABASE_URL== "your_database_url_here"
OPENWEATHER_API_KEY="your_openweather_api_key_here"
OPENAQ_API_KEY="your_openaq_api_key_here"